doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        base(href="/")
        title No Framework
        meta(name="description" content="Website build without any front end framework")
